In [1]:
import pandas as pd

tab1 = {
    'Name':['Sarabh','Shivkaal','Maya','RedEx'],
    'Language':['Hinglish','Manipuri','Mindi','Excarian'],
    'Power Levels':[1101,10001,5002,7002]
}

dataFrame = pd.DataFrame(data=tab1,index=['Speed','Ancient Warrior','Nture','RedX'])
print("\n____________:Table Data:____________\n")
print(dataFrame)

____________:Table Data:____________

                     Name  Language  Power Levels
Speed              Sarabh  Hinglish          1101
Ancient Warrior  Shivkaal  Manipuri         10001
Nture                Maya     Mindi          5002
RedX                RedEx  Excarian          7002

In [2]:
print("\nTo get only names and the power-levels:\n")
print(dataFrame[['Name','Power Levels']])

To get only names and the power-levels:

                     Name  Power Levels
Speed              Sarabh          1101
Ancient Warrior  Shivkaal         10001
Nture                Maya          5002
RedX                RedEx          7002

In [3]:
print("\nTo get details of ony Shivkaal and Maya:\n")
print(dataFrame.iloc[[2,3]])

To get details of ony Shivkaal and Maya:

        Name  Language  Power Levels
Nture   Maya     Mindi          5002
RedX   RedEx  Excarian          7002

In [4]:
print("\n To add a new column: Power Type")
dataFrame['Power Type']=['Quirk','Siddhi','Elemental Affinity','Genetics and XStones']
print(f"\nNew Table is: \n{dataFrame}")

 To add a new column: Power Type

New Table is:
                     Name  Language  Power Levels            Power Type
Speed              Sarabh  Hinglish          1101                 Quirk
Ancient Warrior  Shivkaal  Manipuri         10001                Siddhi
Nture                Maya     Mindi          5002    Elemental Affinity
RedX                RedEx  Excarian          7002  Genetics and XStones

In [5]:
print("\n To add a new row: Ronnie")
dataFrame = dataFrame._append({'Name':'Ronnie T','Language':'Mindi','Power Levels':7800,'Power Type':'Technology'}, ignore_index=True)
print(f"\nUpdated table is:\n {dataFrame}")

 To add a new row: Ronnie

Updated table is:
        Name  Language  Power Levels            Power Type
0    Sarabh  Hinglish          1101                 Quirk
1  Shivkaal  Manipuri         10001                Siddhi
2      Maya     Mindi          5002    Elemental Affinity
3     RedEx  Excarian          7002  Genetics and XStones
4  Ronnie T     Mindi          7800            Technology

In [6]:
print("\nPop a column: \n")
print(dataFrame.pop('Power Type'))

Pop a column:

0                   Quirk
1                  Siddhi
2      Elemental Affinity
3    Genetics and XStones
4              Technology
Name: Power Type, dtype: object

In [7]:
print("\nDelete a row: \n")
print(dataFrame.drop([4]))

Delete a row:

       Name  Language  Power Levels
0    Sarabh  Hinglish          1101
1  Shivkaal  Manipuri         10001
2      Maya     Mindi          5002
3     RedEx  Excarian          7002