In [16]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [17]:
# 1Ô∏è‚É£ Load the dataset into a DataFrame and print it
df = pd.read_csv("heart.csv")
print("=== Entire Dataset ===")
print(df)

=== Entire Dataset ===
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0     40   M           ATA        140          289          0     Normal
1     49   F           NAP        160          180          0     Normal
2     37   M           ATA        130          283          0         ST
3     48   F           ASY        138          214          0     Normal
4     54   M           NAP        150          195          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0      172              N      0.0       Up             0
1      156              N      1.0     Flat             1
2       98              N      0.0       Up             0
3      108              Y      1.5     Flat             1
4      122              N      0.0       Up             0
..     ...            ...      ...      ...           ...
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

[918 rows x 12 columns]

In [18]:
# 2Ô∏è‚É£ Display the size of the dataset
print("\n=== Size of Dataset ===")
print(df.shape)   # (rows, columns)

=== Size of Dataset ===
(918, 12)

In [19]:
# 3Ô∏è‚É£ Print the first 10 rows
print("\n=== First 10 Rows ===")
print(df.head(10))

=== First 10 Rows ===
   Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  MaxHR  \
0   40   M           ATA        140          289          0     Normal    172
1   49   F           NAP        160          180          0     Normal    156
2   37   M           ATA        130          283          0         ST     98
3   48   F           ASY        138          214          0     Normal    108
4   54   M           NAP        150          195          0     Normal    122
5   39   M           NAP        120          339          0     Normal    170
6   45   F           ATA        130          237          0     Normal    170
7   54   M           ATA        110          208          0     Normal    142
8   37   M           ASY        140          207          0     Normal    130
9   48   F           ATA        120          284          0     Normal    120

  ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0              N      0.0       Up             0
1              N      1.0     Flat             1
2              N      0.0       Up             0
3              Y      1.5     Flat             1
4              N      0.0       Up             0
5              N      0.0       Up             0
6              N      0.0       Up             0
7              N      0.0       Up             0
8              Y      1.5     Flat             1
9              N      0.0       Up             0

In [20]:
# 4Ô∏è‚É£ Print the last 10 rows
print("\n=== Last 10 Rows ===")
print(df.tail(10))

=== Last 10 Rows ===
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
908   63   M           ASY        140          187          0        LVH
909   63   F           ASY        124          197          0     Normal
910   41   M           ATA        120          157          0     Normal
911   59   M           ASY        164          176          1        LVH
912   57   F           ASY        140          241          0     Normal
913   45   M            TA        110          264          0     Normal
914   68   M           ASY        144          193          1     Normal
915   57   M           ASY        130          131          0     Normal
916   57   F           ATA        130          236          0        LVH
917   38   M           NAP        138          175          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
908    144              Y      4.0       Up             1
909    136              Y      0.0     Flat             1
910    182              N      0.0       Up             0
911     90              N      1.0     Flat             1
912    123              Y      0.2     Flat             1
913    132              N      1.2     Flat             1
914    141              N      3.4     Flat             1
915    115              Y      1.2     Flat             1
916    174              N      0.0     Flat             1
917    173              N      0.0       Up             0

In [21]:
# 5Ô∏è‚É£ Display the information about data in the dataset
print("\n=== Dataset Info ===")
print(df.info())

=== Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB
None

In [22]:
# 6Ô∏è‚É£ Display the statistical view of the dataset
print("\n=== Statistical Summary ===")
print(df.describe(include='all'))

=== Statistical Summary ===
               Age  Sex ChestPainType   RestingBP  Cholesterol   FastingBS  \
count   918.000000  918           918  918.000000   918.000000  918.000000
unique         NaN    2             4         NaN          NaN         NaN
top            NaN    M           ASY         NaN          NaN         NaN
freq           NaN  725           496         NaN          NaN         NaN
mean     53.510893  NaN           NaN  132.396514   198.799564    0.233115
std       9.432617  NaN           NaN   18.514154   109.384145    0.423046
min      28.000000  NaN           NaN    0.000000     0.000000    0.000000
25%      47.000000  NaN           NaN  120.000000   173.250000    0.000000
50%      54.000000  NaN           NaN  130.000000   223.000000    0.000000
75%      60.000000  NaN           NaN  140.000000   267.000000    0.000000
max      77.000000  NaN           NaN  200.000000   603.000000    1.000000

       RestingECG       MaxHR ExerciseAngina     Oldpeak ST_Slope  \
count         918  918.000000            918  918.000000      918
unique          3         NaN              2         NaN        3
top        Normal         NaN              N         NaN     Flat
freq          552         NaN            547         NaN      460
mean          NaN  136.809368            NaN    0.887364      NaN
std           NaN   25.460334            NaN    1.066570      NaN
min           NaN   60.000000            NaN   -2.600000      NaN
25%           NaN  120.000000            NaN    0.000000      NaN
50%           NaN  138.000000            NaN    0.600000      NaN
75%           NaN  156.000000            NaN    1.500000      NaN
max           NaN  202.000000            NaN    6.200000      NaN

        HeartDisease
count     918.000000
unique           NaN
top              NaN
freq             NaN
mean        0.553377
std         0.497414
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000

In [23]:
# 7Ô∏è‚É£ Display the datatypes of data in the dataset
print("\n=== Data Types ===")
print(df.dtypes)

=== Data Types ===
Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [24]:
# 8Ô∏è‚É£ Print the null values of all columns
print("\n=== Null Values in Each Column ===")
print(df.isnull().sum())

=== Null Values in Each Column ===
Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [25]:
# 9Ô∏è‚É£ Display the number of unique values in the dataset
print("\n=== Unique Values in Each Column ===")
print(df.nunique())

=== Unique Values in Each Column ===
Age                50
Sex                 2
ChestPainType       4
RestingBP          67
Cholesterol       222
FastingBS           2
RestingECG          3
MaxHR             119
ExerciseAngina      2
Oldpeak            53
ST_Slope            3
HeartDisease        2
dtype: int64

In [26]:
# üîü Print % of null value in each column
print("\n=== Percentage of Null Values in Each Column ===")
print((df.isnull().sum() / len(df)) * 100)

=== Percentage of Null Values in Each Column ===
Age               0.0
Sex               0.0
ChestPainType     0.0
RestingBP         0.0
Cholesterol       0.0
FastingBS         0.0
RestingECG        0.0
MaxHR             0.0
ExerciseAngina    0.0
Oldpeak           0.0
ST_Slope          0.0
HeartDisease      0.0
dtype: float64

In [32]:
# 11Ô∏è‚É£ Fill missing values in the dataset with mean of that column
print("\n=== Filling Missing Values with Column Mean ===")
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        # df[col].fillna(df[col].mean(), inplace=True)  will get deprecated in future...
        df.fillna({col: df[col].mean()}, inplace=True) # Alternative method
print(df.isnull().sum())

=== Filling Missing Values with Column Mean ===
Age               0
Sex_new           0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [28]:
# 12Ô∏è‚É£ Sort the values based on the third column
third_col = df.columns[2]
print(f"\n=== Sorting by Third Column ({third_col}) ===")
df_sorted = df.sort_values(by=third_col)
print(df_sorted)

=== Sorting by Third Column (ChestPainType) ===
     Age Sex ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
458   61   M           ASY        134            0          1         ST
372   63   M           ASY        185            0          0     Normal
371   66   M           ASY        150            0          0     Normal
370   60   M           ASY        135            0          0     Normal
369   63   M           ASY        150            0          0     Normal
..   ...  ..           ...        ...          ...        ...        ...
549   68   M            TA        139          181          1         ST
199   57   F            TA        130          308          0     Normal
200   47   M            TA        110          249          0     Normal
237   55   M            TA        140          295          0     Normal
733   66   F            TA        150          226          0     Normal

     MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
458     86              N      1.5     Flat             1
372     98              Y      0.0       Up             1
371    108              Y      2.0     Flat             1
370     63              Y      0.5       Up             1
369     86              Y      2.0     Flat             1
..     ...            ...      ...      ...           ...
549    135              N      0.2       Up             0
199     98              N      1.0     Flat             0
200    150              N      0.0       Up             0
237    136              N      0.0     Flat             1
733    114              N      2.6     Down             0

[918 rows x 12 columns]

In [29]:
# 13Ô∏è‚É£ Rename the second column name
second_col = df.columns[1]
new_col_name = second_col + "_new"
df.rename(columns={second_col: new_col_name}, inplace=True)
print(f"\n=== Renamed '{second_col}' to '{new_col_name}' ===")
print(df.head())

=== Renamed 'Sex' to 'Sex_new' ===
   Age Sex_new ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0   40       M           ATA        140          289          0     Normal
1   49       F           NAP        160          180          0     Normal
2   37       M           ATA        130          283          0         ST
3   48       F           ASY        138          214          0     Normal
4   54       M           NAP        150          195          0     Normal

   MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0    172              N      0.0       Up             0
1    156              N      1.0     Flat             1
2     98              N      0.0       Up             0
3    108              Y      1.5     Flat             1
4    122              N      0.0       Up             0

In [30]:
# 14Ô∏è‚É£ Print the categorical and numerical columns
print("\n=== Categorical Columns ===")
cat_cols = df.select_dtypes(include=['object']).columns
print(cat_cols)

print("\n=== Numerical Columns ===")
num_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(num_cols)

=== Categorical Columns ===
Index(['Sex_new', 'ChestPainType', 'RestingECG', 'ExerciseAngina', 'ST_Slope'], dtype='object')

=== Numerical Columns ===
Index(['Age', 'RestingBP', 'Cholesterol', 'FastingBS', 'MaxHR', 'Oldpeak',
       'HeartDisease'],
      dtype='object')

In [31]:
# 15Ô∏è‚É£ Drop the outliers from numerical columns using IQR
print("\n=== Removing Outliers ===")
Q1 = df[num_cols].quantile(0.25)
Q3 = df[num_cols].quantile(0.75)
IQR = Q3 - Q1
df_no_outliers = df[~((df[num_cols] < (Q1 - 1.5 * IQR)) | (df[num_cols] > (Q3 + 1.5 * IQR))).any(axis=1)]

print("Original shape:", df.shape)
print("After removing outliers:", df_no_outliers.shape)
print("\n=== Dataset after removing outliers ===")
print(df_no_outliers.head())

=== Removing Outliers ===
Original shape: (918, 12)
After removing outliers: (588, 12)

=== Dataset after removing outliers ===
   Age Sex_new ChestPainType  RestingBP  Cholesterol  FastingBS RestingECG  \
0   40       M           ATA        140          289          0     Normal
1   49       F           NAP        160          180          0     Normal
2   37       M           ATA        130          283          0         ST
3   48       F           ASY        138          214          0     Normal
4   54       M           NAP        150          195          0     Normal

   MaxHR ExerciseAngina  Oldpeak ST_Slope  HeartDisease
0    172              N      0.0       Up             0
1    156              N      1.0     Flat             1
2     98              N      0.0       Up             0
3    108              Y      1.5     Flat             1
4    122              N      0.0       Up             0